body {
    background-color: white;
}


header {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0px 24px;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: flex-end;
}

nav div a {
    display: inline;
    padding-left: 16px;
}
nav div {
    display: flex;
    flex-direction: row;
}

nav div img {
    display: none;
}

logo {
    display: flex;
    align-items: center;
    font-size: 32px;
}

information {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 32px 0;
    height: auto;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    height: 100%;
    padding-right: 24px;
}

.info div {
    padding: 32px 0;
    gap: 24px;
    text-align: left;
}

information event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    height: 100%;
    border: solid 1px gray;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 100%;
    text-align: center;
    padding: 32px 0px 32px 0px ;
}

.learning {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px 72px 0px 72px;
    gap: 32px;
}

.learn {
    background-color: white;
    padding-bottom: 24px;
    width: 30%;
}

.learn img {
    width: 100%;
    padding-bottom: 16px;
    height: auto;
}
.learn p {
    padding-top: 8px;
}

.learn div {
    padding: 0px 16px;
    text-align: left;
}

reunion {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 16px;
    border: solid 1px gray;
}

reunion div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 65%;
    padding-left: 16px;
    gap: 8px;
    height: auto;
}

reunion img {
    width: 35%;
    height: auto;
}

.block {
    display: flex;
    width: 100%;
    padding: 32px 24px;
    gap: 24px;
    background-color: gainsboro;
    align-items: center;
}

.block img {
    width: 60%
}

.block button {
    padding: 8px 0;
    width: 100%;
    background-color: green;
    border: none;
    color: white;
}

.select {
    background-color: gray;
}

.other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    border: solid gray;
    border-width: 1px 0px 0px 0px;
    padding: 16px 14px;
    color: gray;
}

@media only screen and (max-width: 600px) {
    nav div a {
        display: none;
    }
    nav div img {
        display: inline;
    }
    logo p {
        display: none;
    }
    .block {
        display: flex;
        flex-direction: column;
    }
    .block img {
        width: 100%;
    }
  }